$body-bg: #a5e887;
$input-bg: #FFFFFF;
$primary: #00aa95;
$secondary: #a5e887;
$table-hover-bg-factor: .2;
$table-hover-bg: rgba($primary, $table-hover-bg-factor);
$table-striped-bg-factor: .2;
$table-striped-bg: rgba($secondary, $table-striped-bg-factor);

html,body { 
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

@import "bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "bootstrap-icons/font/bootstrap-icons.css";