@page
@model CompleteUserRegistration
@{
    ViewData["Title"] = "Potwierdź konto";
}
<div class="content-title">
    <img src="~/img/logo64x64.png" alt="DietMenu" class="content-logo">
    <span class="font-weight-light">Potwierdzenie konta</span>
</div>

<div class="content-text">
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-error"></div>

        <div class="content-form-input-container">
            <label asp-for="Input.Password" class="content-form-input-label"></label>
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" class="content-form-input" />
            <span asp-validation-for="Input.Password" class="text-error"></span>
        </div>

        <div class="content-form-input-container">
            <label asp-for="Input.ConfirmPassword" class="content-form-input-label"></label>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" class="content-form-input" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-error"></span>
        </div>

        <div class="content-center">
            <button type="submit" form="account" class="content-button content-button-primary content-button-elevated">
                <span class="content-button-text">POTWIERDŹ KONTO</span>
            </button>
        </div>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
