@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<div class="content-title">
    <img src="~/img/logo64x64.png" alt="DietMenu" class="content-logo">
    <span class="font-weight-light">Resetowanie hasła</span>
</div>

<div class="content-text">
    <p>Jeżeli istnieje konto z podanym adresem email to zostanie wysłana instrukcja w jaki sposób zresetować hasło.</p>
    <p>Jeżeli nie otrzymasz maila w przeciągu 10 minut sprawdź czy podany adres email jest poprawny.</p>
</div>

<div class="content-text content-center">
    <button type="button" class="content-button content-button-primary content-button-elevated" onClick="navigateToLogin()"><span class="content-button-text">POWRÓT DO LOGOWANIA</span></button>
</div>
