@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Utworzono konto";
}

<div class="content-title">
    <img src="~/img/logo64x64.png" alt="DietMenu" class="content-logo">
    <span class="font-weight-light">Utworzono konto</span>
</div>

<div class="content-text">
    <p>Sprawdź email w celu potwierdzenia konta.</p>
</div>

