@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="content-title">
    <img src="~/img/logo64x64.png" alt="DietMenu" class="content-logo">
    <span class="font-weight-light">404</span>
</div>

<div class="content-text">
    <p>Resource you are trying to reach has not been found.</p>
</div>

<div class="content-actions">
    <button type="button" class="content-button content-button-primary content-button-elevated" onClick="navigateToLogin()"><span class="content-button-text">Back to sign in</span></button>
</div>